<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="icon" th:href="@{/img/travel_can_logo.png}" />

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <title>TRAVEL CAN</title>
    </head>
    <body>
        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 border-bottom">Travel Can</h1>
                <a th:href="@{/viajes}">Ir a viajes</a><br/>
                <a th:href="@{/mascotas}">Ir a mascotas</a>
                <a th:href="@{/lugares}">Ir a lugares</a>
            </div>
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
    </body>
</html>


